/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.game-header {
  background-color: black;
  margin:0px;
  padding: 10px 10px;
  overflow: hidden;
}

.game-header a {
  float: left;
  text-align: center;
  padding: 20px;
}

.header-h1 {
  margin: 30px auto;
}

.game-header h1 {
  color: white;
  float: left;
  font-size: 30px;
  text-align: center;
}

.header-right {
/* vertical-align: middle; */
  float: right;
}

#roomIDSpan{
  font-size: 30px;
}

.room-info-header h2{
  font-size: 15px;
}


.game-wrapper {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 600px auto;
  height: 100%;
  max-width: 1400px;
  margin: auto;
}

.game-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.card-container {
  display: grid;
  grid-template-columns: 50% 50%;

}

.room-info-container {
  background-color: white;
  text-align: center;
  margin: 10px auto;
  border-radius: 20px;
  height: 75%;
  max-height: 75%;
  width: 80%;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 5px;
}

.users-container {
  max-height: 225px;
  overflow-y: auto;
  padding: 5px;
}

#users {
  padding: 10px;
}

.chat-container {
  position: relative;
  background: #fff;
  float: right;
  overflow: hidden;
}

.black-card {
  margin: 10px;
  border-radius: 20px;
  background-color: black;
}

.black-card-info {
  margin: 20px;
  height: 500px;
  overflow: auto;
}

.response-black-card-info {
  margin: 15px;
  height: 350px;
  overflow: auto;
}

#response-black-card-text {
  color: white;
  font-size: 26px;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
}



/* .black-card-text span {
  border-bottom: #fff solid 3px;
} */

.czar-info {
  padding: 20px;
  padding-bottom: 0px;
  font-size: 30px;
}

.pick-info {
  padding-left: 20px;
  font-size: 20px;
}

#black-card-text {
  color: white;
  font-size: 30px;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
}

.no-blank {
  color: white;
  font-size: 26px;
  overflow: hidden;
}

.no-blank-response {
  color: white;
  font-size: 24px;
  overflow: hidden;
}

.white-cards {
  margin: 10px;
  background-color: white;
  max-height: 100%;
}

.chat-messages-container {
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
  height: 100%;
}

.chat-messages .message {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #333;
}

.chat-messages-container .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: black;
  opacity: 0.85;
  margin-bottom: 7px;
}

.chat-messages-container .message .meta span {
  color: #777;
}

.chat-form-container {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
}

.text-message {
  font-family:'Open Sans', sans-serif;
  font-size: small;
  font-weight: 900;
  color: #555;
}

.text-message strong {
  font-weight: 600;
}

.chat-form-container input[type='text'] {
  display: inline-block;
  width: 90%;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  border: 0px;
  border-bottom: 3px solid black;
  outline: none;
  margin: 5px;
}

.chat-form-container form {
  display: flex;
}

.checkbox-container {
  display: inline-flex;
  position: relative;
  width: 100%;
}

.input-div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.response-div {
  display: inline-flex;
  margin-left: 5px;
  max-width: 90%;
}

.chat-form-container .sendButton {
  text-align: center;
  overflow: hidden;
  padding: 10px;
  border: none;
  outline: none;
}

.user-cards {
  height: 300px;
  overflow-y: auto;
}

#user-cards-table {
  margin: auto;
  margin-bottom: 20px;
  table-layout: fixed;
  width: 85%;
  border-collapse: collapse;
  border: 1 px black solid;
  max-height: 50%;
  overflow-y: auto;
}

#user-cards-table td {
  width: 50% ;
  overflow: hidden;
  word-wrap: break-word;
  padding: 5px;

}

#user-cards-table input {
  display: inline;
}

.blank {
  display: inline;
  text-decoration: underline; 
  /* border-bottom: white 2px solid; */
  white-space: pre-wrap; 
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 100px; Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.leaderboard-modal-content {
  background-color: #fefefe;
  position: absolute;
  margin: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  border: 1px solid #888;
  width: 400px; /* Full width */
  height: 600px; /* Full height */
  margin-top: -300px;
  margin-left: -150px;
}

.responses-modal-content {
  background-color: #fefefe;
  position: absolute;
  margin: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  border: 1px solid #888;
  width: 900px; /* Full width */
  height: 600px; /* Full height */
  margin-top: -300px;
  margin-left: -450px;
  /* display: flexx; */
}

.dialog-title {
  font-size: 30px;
}

.responses-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.dialog-content {
  margin: auto;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.leaderboard-content, .responses-content {
  margin-top: 20px;
  font-size: 18px;
}

.collected-responses-container {
  margin-left: 40px;
}

.table-container {
  margin-top: 20px;
  overflow: auto;
  height: 400px;
  max-width: 90%;
}

.leaderboard-table {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}

.leaderboard-table, .responses-table td, th {
  /* border:1px solid #ccc; */
  padding: 10px;
}


/* The Close Button */
.close {
  display: block;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

